{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/confirm_number.css') }}?{{ service.getVersionDeploy() }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/false_request.css') }}?{{ service.getVersionDeploy() }}">
{% endblock %}
    {% block body %}
        <main>
            {% if status == true %}
                <div id="ConfirmNumber"></div>
            {% else %}
                <div id="FalseRequest"></div>
            {% endif %}
        </main>

        <script>
            window.confirmation_code = '{{ code }}';
            window.confirmation_user_id = '{{ user_id }}';
        </script>
    {% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/confirm_number.js') }}?{{ service.getVersionDeploy() }}"></script>
    <script src="{{ asset('build/false_request.js') }}?{{ service.getVersionDeploy() }}"></script>
{% endblock %}
