<h1>Запрос на смену номера телефона</h1>

<p>Для пользователя "{{ user_email }}" произведен запрос на смену номера.</p>

<div>Для смены номера пройдите по ссылке</div>
<div><a href="{{ system['base.url'] }}/restore/{{ user_id }}/{{ code }}" target="_blank">{{ system['base.url'] }}/restore/{{ user_id }}/{{ code }}</a></div>

<BR>
<div><i>Если вы не запрашивали смену номера телефона, просто проигнорируйте письмо</i></div>
