<h1>Регистрация пользователя</h1>

<div>Для подтверждения вашей регистрации пожалуйста пройдите по ссылке </div>
<div><a href="{{ system['base.url'] }}/confirmation/{{ user_id }}/{{ code }}" target="_blank">{{ system['base.url'] }}/confirmation/{{ user_id }}/{{ code }}</a></div>
